.wrapper {
    display: flex;
    align-items: baseline;
}

code {
    font-family: monospace;
    height: 100%;
    /* width: 100%; */
    color: #282a36;
    border-radius: 3px;
    background-color: #50fa7b;
    font-size: 20px;
    white-space: nowrap;
}

.code--red {
    background-color: rgb(246, 151, 151);
}

p {
    font-size: 15px;
    font-family: monospace;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
}
