#fileInput {
    width: 100%;
    min-height: 500px;
    font-family: monospace;
    float: right;
    margin-bottom: 6px;
}

input {
    color: #282a36;
    border-radius: 8px;
    border: none;
    font-size: 17px;
    font-weight: bold;
    font-family: monospace;
    background-color: #8be9fd;
    float: right;
    padding: 8px;
}

input:hover {
    background-color: #10cef8;
    cursor: pointer;
}

textarea::-webkit-scrollbar {
    width: 0 !important;
}

textarea {
    background-color: #44475a;
    color: #f8f8f2;
    border-width: 0px;
    border-radius: 8px;
    padding: 15px;
    resize: none;
    /* Mozilla */
    overflow: -moz-scrollbars-none;
    /* IE */
    -ms-overflow-style: none;
}

/* Smooth outline with box-shadow: */
textarea:focus {
    box-shadow: 0 0 0 1px #8be9fd;
}

textarea:focus-visible {
    outline: none;
}
